/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

canvas {
  position: fixed;
  touch-action: none;
  width: 100%;
  height: 100%;
}

#main {
  position: fixed;
  bottom: 65px;
  top: 0px;
  width: 100%;
}

#toolbar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #2F2F2F;
}

.tool {
  width: 65px;
  height: 65px;
  font-size: 15px;
  text-align: center;
  color: #DDD;
  display: inline-block;
  margin-top: 8px;
}

.tool-icon {
  width: 55%;
  height: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
}

.circle-icon {
  background-color: #ddd;
  border-radius: 50%;
}

.move-icon {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border-color: #ddd;
  border-width: 2px;
  border-style: dashed;
}


.rectangle-icon {
  background-color: #ddd;
}

.undo-icon {
}

#welcome-screen {
  padding: 10px;
  height: calc(100% - 20px);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  width: calc(100%-20px);
}

#color-picker {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.color {
  float: left;
  padding: 0px;
  margin: 0px;
  width: 50%;
  height: 25%;
  padding: 0px;
  margin: 0px;
  color: white;
  font-weight: bold;
}
.color.turquoise {
  background: #1ABC9C;
}
.color.green-sea {
  background: #16A085;
}
.color.emerland {
  background: #2ECC71;
}
.color.nephritis {
  background: #27AE60;
}
.color.peter-river {
  background: #3498DB;
}
.color.belize-hole {
  background: #2980B9;
}
.color.amethyst {
  background: #9B59B6;
}
.color.wisteria {
  background: #8E44AD;
}
.color.wet-asphalt {
  background: #34495E;
}
.color.midnight-blue {
  background: #2C3E50;
}
.color.sun-flower {
  background: #F1C40F;
}
.color.orange {
  background: #F39C12;
}
.color.carrot {
  background: #E67E22;
}
.color.pumpkin {
  background: #D35400;
}
.color.alizarin {
  background: #E74C3C;
}
.color.pomegranate {
  background: #C0392B;
}
.color.clouds {
  background: #ECF0F1;
  color: #bdc3c7;
}
.color.silver {
  background: #BDC3C7;
}
.color.concrete {
  background: #95A5A6;
}
.color.asbestos {
  background: #7F8C8D;
}

.gray {
  background-color: #444
}

.hidden {
  display: none;
}

html {
  -ms-touch-action: none; /* Direct all pointer events to JavaScript code. */
}


body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-family: sans-serif;
  font-size:17px;
  height:100%;
  margin:0px;
  padding:0px;
  width:100%;
  overflow: none;
}

#content {
  padding: 10px;
  height: calc(100% - 20px);
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
